* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border: 2px dashed #ccc;
  margin-bottom: 10px;
  text-align: center;
}

.box img {
  overflow: hidden;
  width: 400px;
  height: 400px;
  object-fit: contain;
  opacity: 0;
  transform: scale(0.7);
  transition: 0.7s ease-in-out all;
}
.box img.left {
  transform: translateX(-100px);
}
.box img.visible {
  opacity: 1;
  transform: scale(1) translateX(0);
}
